.total-cart-design {
   background-color: rgba(189, 173, 32, 0.671);
   margin-right: 75px;
   margin-top: 20px;
   padding: 20px;
   border: 1px solid maroon;
   border-radius: 5px;
}
.person-count {
   color: rgb(175, 18, 214);
}
.total-salary {
 color: rgba(43, 163, 172, 0.986);
}
.person-name {
   color: seagreen;
   font-weight: 800;
}