.header-container {
    text-align: center;
    color:rgb(124, 35, 105);
    background-color:tan;
    margin-left: 100px;
    margin-right: 75px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}